<div class="contenedor">
    <h1><%= pagina %></h1>
    <div class="informacion-grupo">
        <div class="imagen">
            <% if (grupo.imagen) { %>
                <img src="/uploads/grupos/<%= grupo.imagen %>">
            <% } else { %>
                <img src="/img/logo.png" >
            <% } %>
        </div>
        <div class="texto">
            <%- grupo.descripcion %>
            <% if (grupo.url) { %>
                <a target="_blank" class="url  " href="<%= grupo.url %>">Visita nuestra web</a>
            <% } %>
            <% if (meetis.length > 0 ) { %>
                <h1>Proximos meeti's</h1>
                <% moment.locale("es");%>
                
                <ul class="lista-meetis">
                <% meetis.forEach(meeti => { %>
                <% const fecha = `${meeti.fecha} ${meeti.hora}`%>
                    <li>
                        <div class="texto">
                            <a href="/meeti/<%= meeti.slug %>">
                                <h3><%= meeti.titulo %></h3>
                                <p class="fecha"><%= moment(fecha).format("LLLL") %>h</p>
                            </a>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <% } %>
        </div>
    </div>
</div>