<main class="asistentes contenedor">
    <h1><%- pagina %></h1>
    <div class="informacion-usuario">
        <div class="imagen"> 
            <% if (perfil.imagen) { %>
                <img src="/uploads/perfiles/<%= perfil.imagen %>">
            <% }else{ %>
                <img src="/img/no-avatar.png">
            <% } %>
        </div>
        <div class="texto">
            <%- perfil.descripcion %>
        </div>
    </div><!--info usuario-->
    <div class="grupos-usuarios">
        <% if (grupos.length > 0) { %>
            <h2>Grupos de : <%= perfil.nombre %></h2>
            <ul class="lista-grupos">
                <% grupos.forEach(grupo => { %>
                 <li>
                    <div class="imagen">
                        <% if (grupo.imagen) { %>
                            <img src="/uploads/grupos/<%= grupo.imagen %>">
                        <% }else{ %>
                            <img src="/img/logo.png">
                        <% } %>
                    </div>
                    <div class="texto">
                        <a href="/grupo/<%= grupo.id %>">
                            <h3><%= grupo.nombre %></h3>
                        </a>
                    </div>
                 </li>
                <% }) %>
            </ul>
         
        <% } %>
    </div>
</main>