<div class="encabezado-evento">
    <div class="contenedor">
        <div class="resumen-evento">
            <h1><%- pagina %></h1>
            <div class="info-autor">
                <div class="imagen">
                 <% if (meeti.usuario.imagen) { %>
                    <img style="border-radius:25px;" src="/uploads/perfiles/<%= meeti.usuario.imagen %>">
                <% } else{ %>
                    <img src="/img/no-avatar.png">
                <% } %>
                </div>
                <div class="informacion">
                    <p>Organizado por:</p>
                    <p class="autor">
                        <a href="/usuario/<%= meeti.usuario.id %>"><%= meeti.usuario.nombre %></a> Creador de: 
                        <a href="/grupo/<%= meeti.grupo.id %>"><%= meeti.grupo.nombre %></a>
                    </p>
                </div>
            </div><!--info-autor-->
        </div><!--resumen Evento-->
        <div class="pregunta-asistencia">
            <% if (usuario.id) { %>
                <% const existe  = meeti.interesados.includes(usuario.id) %>
                <p>¿Asistirás?</p>
                <form action="/confirmarAsistancia/<%= meeti.slug %>" id="confirmarAsistencia">
                    <% if (existe) { %>

                    <input type="hidden" value="cancelar" id="accion">
                    <input type="submit" value="Cancelar" class="btn btn-rojo">

                    <% }else{ %>

                    <input type="hidden" value="confirmar" id="accion">
                    <input type="submit" value="Si" class="btn btn-azul">

                    <% } %>
                    <div id="mensaje"></div>
                </form>
            <% }else { %> 
            <p>Inicia Sesion para confirmar tu asistencia</p>
            <% } %>
        </div>
    </div>
</div>
<main class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            <div class="descripcion">
                <% if (meeti.grupo.imagen) { %>
                    <img src="/uploads/grupos/<%= meeti.grupo.imagen %>">
                <% } else { %>
                    <img src="/img/logo.png">
                <% } %>
                <p><%- meeti.descripcion %></p>
            </div><!--descripcion-->
            <div class="asistentes">
                <div class="titulo">
                    <h3><%= meeti.interesados.length %> Asistentes</h3>
                    <a href="/asistentes/<%= meeti.slug %>">Ver Todos</a>
                </div>
            </div><!--Asistentes-->
            <div class="comentarios">
                <h2>Comentarios</h2>
            <% if (comentarios.length > 0) { %>
                <% comentarios.forEach(comentario => { %>
                <div class="comentario">
                    <div class="imagen">
                        <% if (comentario.usuario.imagen) { %>
                            <img  src="/uploads/perfiles/<%= comentario.usuario.imagen %>">
                        <% } else{ %>
                            <img src="/img/no-avatar.png">
                        <% } %>
                    </div>
                    <div class="texto">
                        <p><%= comentario.mensaje %></p>
                        <p>Escrito por: <a href="/usuario/<%= comentario.usuario.id %>">
                                        <%= comentario.usuario.nombre %>
                                        </a></p>
                        <% if (comentario.usuarioId === usuario.id || meeti.usuarioId === usuario.id){ %>
                            <form action="/eliminarComentario" method="POST" class="eliminarComentario">
                                <input type="submit" class="btn btn-azul" value="Eliminar">
                                <input type="hidden" id="idComentario" value="<%= comentario.id%>">
                            </form>
                            
                        <% } %>
                    </div>
                </div>
                <% }) %>
            <% }else{ %>
                <p>No hay comentarios</p>
            <% } %>
                <!--Form comentarios-->
                <% if (usuario.id) { %>
                    <form action="/meeti/<%= meeti.id %>" method="post" class="default-form comentarios">
                        <legend>Agrega un comentarios</legend>
                        <div class="campo">
                            <label>Comentario</label>
                            <textarea name="comentario"></textarea>
                        </div>
                        <div class="campo enviar">
                            <input type="submit" value="Enviar" class="btn btn-rosa">
                        </div>
                    </form>
                <% } else { %>
                    <p>Inicia sesion para enviar un comentario</p>
                <% } %>
                
            </div><!--comentarios-->
        </div><!--Info evento-->
        <aside class="informacion">
            <% moment.locale("es");%>
            <% const fecha = `${meeti.fecha} ${meeti.hora}`%>
            <div class="fecha">
                <p><%= moment(fecha).format("LLLL") %>h</p>
            </div>
            <div class="ubicacion">
                <p><%= meeti.direccion %></p>
            </div>
            <!--mapa de ubicacion-->
            <input type="hidden" id="lat" value="<%= meeti.ubicacion.coordinates[0] %>">
            <input type="hidden" id="lng" value="<%= meeti.ubicacion.coordinates[1] %>">
            <input type="hidden" id="direccion" value="<%= meeti.direccion %>">

            <div id="ubicacion-meeti">

            </div>
        </aside>
    </div>
</main>

<h2>Otros meeti's cercanos</h2>
<div class="contenedor cercanos">
    <% if (cercanos.length > 0) { %>
        <% cercanos.forEach(meeti => { %>
            <%- include ("../partials/cardMeeti.ejs", {meeti : meeti}) %>  
        <% }) %>
    <% } else { %>
        <p>No hay meeti's cercanos</p>
    <% } %>
</div>