<div class="card">
    <% const fecha = `${meeti.fecha} ${meeti.hora}`%> 
    <% if (meeti.grupo.imagen) { %>
        <img src="/uploads/grupos/<%= meeti.grupo.imagen %>">
    <% }else{ %>
        <img src="/img/logo.png">
    <% } %>
    <div class="card-texto">
        <p class="fecha"><%= moment(fecha).format("LLLL") %>h</p>
        <a href="/meeti/<%= meeti.slug %>">
            <h3><%= meeti.titulo %></h3>
        </a>
        <div class="info-autor">
            <% if (meeti.usuario.imagen) { %>
                <div class="imagen">
                    <img style="border-radius:25px;" src="/uploads/perfiles/<%= meeti.usuario.imagen %>">
                </div>
            <% } %>
            <div class="informacion">
                <p>Organizado por:</p>
                <p class="autor"><%= meeti.usuario.nombre %></p>
            </div>
        </div>
    </div>
</div>