<main class="contenedor panel-administracion">
    <h1><%= pagina %></h1>

    <div class="contenedor-botones">
        <a href="/nuevoGrupo" class="btn btn-amarillo">Nuevo Grupo</a>
        <a href="/nuevoMeeti" class="btn btn-azul">Nuevo Meeti</a>
        <a href="/editarPerfil" class="btn btn-rosa">Editar Perfil</a>
        <a href="/cambiarPassword" class="btn btn-amarillo">Cambiar Contraseña</a>
        <a href="/imagenPerfil" class="btn btn-verde">Imagen Perfil</a>
    </div>
    <div class="seccion-admin">
        <% if (!meetis.length) { %>
            <h2>No tienes Meetis</h2>
      <% } else { %>
        <h2>Próximos Meeti's</h2>
        <% meetis.forEach(meeti => { %>
        <ul>
            <li>
                <div class="informacion-admin">
                    <% moment.locale("es");  %>
                    <% const fecha = meeti.fecha+" "+meeti.hora %>
                    <p class="fecha"><%= moment(fecha).format("LLLL") %></p>
                    <a href="/meeti/<%= meeti.slug %>" target="_blank">
                        <h3><%= meeti.titulo %></h3>
                    </a>
                    <small><%= meeti.interesados.length %> interesados</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="/editarMeeti/<%= meeti.id %>"class="btn btn-verde">Editar</a>
                    <a href="/asistentesMeeti/<%= meeti.id %>"class="btn btn-azul2">Asistentes</a>
                    <a href="/eliminarMeeti/<%= meeti.id %>"class="btn btn-rojo">Eliminar</a>

                </div>
            </li>
        </ul>
        <% }) %>
        <% } %>
    </div>
    <div class="seccion-admin">
        
        <% if (!grupos.length) { %>
                <h2>No tienes grupos</h2>
        <% } else { %>
            <h2>Tus Grupos</h2>
            <% grupos.forEach(grupo => { %>
            <ul>
                <li>
                    <div class="informacion-admin">
                        <h3><a href="/grupos/<%= grupo.id %>"></a><%= grupo.nombre %></h3>
                    </div>
                    <div class="acciones contenedor-botones">
                        <a href="/editarGrupo/<%= grupo.id %>" class="btn btn-verde">Editar</a>
                        <a href="/imagenGrupo/<%= grupo.id %>" class="btn btn-azul2">Imagen</a>
                        <a href="/eliminarGrupo/<%= grupo.id %>" class="btn btn-rojo">Eliminar</a>
                    </div>
                </li>
            </ul>
            <% }) %>
        <% } %>
    </div>
    <div class="seccion-admin">
        <% if (!meetisAnt.length) { %>
            <h2>No tienes Meetis anteriores</h2>
      <% } else { %>
        <h2>Meeti's Anteriores</h2>
        <% meetisAnt.forEach(meetiAn => { %>
        <ul>
            <li>
                <div class="informacion-admin">
                    <% moment.locale("es");  %>
                    <% const fecha = meetiAn.fecha+" "+meetiAn.hora %>
                    <p class="fecha"><%= moment(fecha).format("LLLL") %></p>
                    <h3><%= meetiAn.titulo %></h3>
                    <small><%= meetiAn.interesados.length %> interesados</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="/editarMeeti/<%=meetiAn.id%>"class="btn btn-verde">Editar</a>
                    <a href="/asistentesMeeti/<%=meetiAn.id%>"class="btn btn-azul2">Asistentes</a>
                    <a href="/eliminarMeeti/<%=meetiAn.id%>"class="btn btn-rojo">Eliminar</a>

                </div>
            </li>
        </ul>
        <% }) %>
        <% } %>
    </div>  
</main>